.paper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 80%;
}

.btn:hover {
    color: white;
    background-color: #40913c;
}

.item{
    margin-left: auto;
    width: 25%;
}

.btn{
    width: 100%;
    color: white;
    background-color: #53BA4D;
}

.title {
    color: #666666;
}