.center {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: space-between;
    margin: auto;
    width: 90%;
    height: 20%;
    padding-top: 20px;
}

.inWrap {
    margin-left: auto;
    width: 50%;
}

.right{
    position: absolute;
    right: 0;
}
