#logowrapper {
    margin-left: 5%;
    width: 10%;
    padding-bottom: 0%;
    padding-top: 0%;
}

.logo {
    width: 100%;
    left: 0%;
}

.links {
    margin-left: 5%;
}

.drop-downs:active {
    background-color: #53BA4D;
}