.center {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: space-between;
    margin: auto;
    width: 20px;
    height: 20%;
    padding-top: 20px;

}
