.center {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: space-between;
  margin: auto;
  width: 60%;
  height: 20%;
  padding-top: 20px;
}

.inWrap {
  margin-left: 10px;
  width: 50%;
}

.right {
  position: absolute;
  right: 0;
}

.button {
  width: 30%;
  position: absolute;
  right: 7%;
}

@media screen and (max-width: 990px) {
    .button{
        width: 30%;
        right: 8em;
    }
}
